
.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.26);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.profile{
  max-width: 60%;
  height: auto;
}
.title{
  font-family :Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(120, 93%, 16%);
}
.text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 1%, 42%);
}
.button{
  background-color: antiquewhite;
  color: green;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/************************Students.jsx**********************/
.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border-bottom: 1px solid brown;
  width: auto;
}
.student p{
  margin: 0;
}
/*************Q profile****************/
.profile{
  display:inline-block;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.432);
  min-width:  100px;
  height: auto;
 width: auto;
  margin: 10px;
  padding: 12px;
  border: 1px solid brown;
}

/********************Q button*************************/
.Qbtn{
  padding: 12px;
  color: red;
  border-radius: 5px;
  
}

/********************ConditionUser*********************/
.contrue{
  color: green;
}
.confalse{
  color: red;
}

/**********************List***************************/
.list-title{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: rgb(192, 111, 111);
}
.list-item li{
    font-size: 2em;
    list-style: none;
    color: hsl(0, 0%, 50%);
    text-align: center;
    margin: 0;
}
.list-item li:hover{
  color: black;
  cursor: pointer;
}
/**********************Counter******************************/
.countbtn{
  padding: 12px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid hsl(25, 76%, 31%);
  cursor: pointer;
  background-color:  hsl(25, 76%, 70%);;
 
}
.countbtn:hover{
  background-color:  hsl(25, 76%, 31%);
}
.countval{
  margin-left: 100px;
}

/*************************Color Picker***************************/
.color-container{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    
}
.color-text{
  text-align: center;
}
.color-layout{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/**************************Digital Clock*********************************/
/*
  body{
      background-image: url(assets/digitalClockBg.jpg);
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      min-height: 100vh;
      align-items: center;
  }
*/
/* for blur effect */
.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}
.clock{
      color: white;
      font-size: 6rem;
      font-weight: bold;
      font-family: monospace;
      text-shadow: 3px 3px 5px grey;
      text-align: center;
}

/************************Component A,B,C****************************/
.component-box{
    border: 1px solid black;
    padding: 25px;

}
/*----------------------Tic-Tac-Toe------------------------*/

*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 20px;
}

.square{
    background: #ffffff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    height: 34px;
}
.Tic-Raw:after {
  clear: both;
  content: '';
  display: table;
}